---
import { getCollection } from "astro:content";
import github from "../assets/github.svg";
import x from "../assets/x.svg";
import youtube from "../assets/youtube.svg";

import ArticleCard from "../components/ArticleCard.astro";
import { SITE, SOCIALS } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";

const allArticles = await getCollection("articles");
const sortedArticles = allArticles.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
const newestArticles = sortedArticles.slice(0, 3);

const currentTime = new Date();
console.log(currentTime);
const hour = currentTime.getHours();
const greeting =
  hour < 12 ? "Good morning" : hour < 18 ? "Good afternoon" : "Good evening";
---

<BaseLayout>
  <p>{currentTime}</p>
  <p class="text-lg pt-20 text-neutral-500">{greeting}, I'm {SITE.name}.</p>

  <p class="text-lg pt-4 text-neutral-500">
    {SITE.bio}
  </p>
  <div class="flex pt-16 items-center">
    <p class="text-neutral-500 text-lg pt-1">Find me on:</p>

    <a class="ml-4" href={SOCIALS.x} target="_blank">
      <img
        class="w-6 h-6 hover:scale-125 hover:rotate-6 transition"
        src={x.src}
      />
    </a>
    <a class="ml-4" href={SOCIALS.youtube} target="_blank"
      ><img
        class="w-8 h-8 hover:scale-125 hover:rotate-6 transition"
        src={youtube.src}
      /></a
    >
    <a class="ml-4" href={SOCIALS.github} target="_blank"
      ><img
        class="w-7 h-7 hover:scale-125 hover:rotate-6 transition"
        src={github.src}
      /></a
    >
  </div>
  <h1 class="pt-16">Latest Posts</h1>
  {newestArticles.map((article) => <ArticleCard article={article} />)}
</BaseLayout>
