---
import github from "../assets/github.svg";
import x from "../assets/x.svg";
import youtube from "../assets/youtube.svg";

import { SITE, SOCIALS } from "../config";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <p class="text-lg pt-20 text-neutral-500">Hi, I'm {SITE.name}.</p>

  <p class="text-lg pt-4 text-neutral-500">
    {SITE.bio}
  </p>
  <div class="flex pt-16 items-center">
    <p class="text-neutral-500 text-lg">Find me on:</p>

    <a class="ml-4" href={SOCIALS.x} target="_blank">
      <img
        class="w-6 h- 6 hover:scale-125 hover:rotate-6 transition"
        src={x.src}
      />
    </a>
    <a class="ml-4" href={SOCIALS.youtube} target="_blank"
      ><img
        class="w-8 h-8 hover:scale-125 hover:rotate-6 transition"
        src={youtube.src}
      /></a
    >
    <a class="ml-4" href={SOCIALS.github} target="_blank"
      ><img
        class="w-7 h-7 hover:scale-125 hover:rotate-6 transition"
        src={github.src}
      /></a
    >
  </div>
  <h2 class="text-2xl font-bold pt-16">Latest Posts</h2>
  <p>Coming soon...</p>
</BaseLayout>
