---
import { Image } from "astro:assets";

const { article } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
const image = images[article.data.image]();
if (!image)
  throw new Error(
    `"${article.data.image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<div class="flex flex-col mb-2">
  <a
    href={"/articles/" + article.slug}
    class="rounded-lg p-4 hover:bg-gray-100 flex"
  >
    <Image
      class="w-1/4 mr-4 rounded hidden sm:block"
      src={image}
      alt={article.data.alt}
    />
    <div>
      <h2 class="font-semibold">{article.data.title}</h2>
      <p class="text-gray-600">{article.data.description}</p>

      <time class="text-sm text-gray-500" datetime={article.data.date}>
        Published on: {
          article.data.date.toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })
        }
      </time>
    </div>
  </a>
</div>
