---
import { Image } from "astro:assets";

const { article } = Astro.props;
---

<div class="flex flex-col mb-2">
  <a
    href={"/articles/" + article.slug}
    class="rounded-lg p-4 hover:bg-gray-100 flex"
  >
    <Image
      class="w-1/4 mr-4 rounded hidden md:block"
      src={article.data.image}
      alt={article.data.alt}
      width={200}
      height={200}
    />
    <div>
      <h2 class="font-semibold">{article.data.title}</h2>
      <p class="text-gray-600">{article.data.description}</p>

      <time class="text-sm text-gray-500" datetime={article.data.date}>
        Published on: {
          article.data.date.toLocaleDateString("en-US", {
            month: "long",
            day: "numeric",
            year: "numeric",
          })
        }
      </time>
    </div>
  </a>
</div>
